body {
  margin: 0;
  padding: 10px 20px;
  min-height: 99%;
  width: 100%;
  font-family: cursor, courier;
  background: #211830;
  color: #22eae0;
  overflow-x: hidden;
}
::selection{
  background-color: #22eae0;
  color: #211830;
}
::-moz-selection {
  background-color: #22eae0;
  color: #211830;
}
textarea#setter {
  left: -1000px;
  position: absolute;
}

/*****************/
/*   Animation   */
/*****************/
.animation{
  position: absolute;
  width: 100vw;
  height: calc(100vh - 10px);
  background: #211830;
  z-index: 100;
  text-align: center;
  animation: hide 0.01s forwards;
  animation-delay: 6.6s;
}
.animation img{
  margin-top: 50vh;
  transform: translateY(-50%);
}

@keyframes hide {
  from{
    opacity: 1;
    display: initial;
    margin-left: 0;
  }
  to{
    opacity: 0;
    display: none;
    margin-left: 100vw
  }
}


/***********/

.cursor {
  font-size: 12px;
  background-color: #22eae0;
  color: #22eae0;
  position: relative;
  opacity: 0.5;
  height: 1.5em;
  width: 3px;
  max-width: 3px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}
#cmd {
  cursor: text;
  height: 50px;
}
#getter{
  line-height: 1.3em;
  margin-top: -2px;
  animation: show .1s ease forwards;
  animation-delay: 9.3s;
  opacity: 0;
}
#getter::before {
  content: 'admin> '
}
#getter.password::before {
  content: 'Password:'
}
@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

p{
  display: block;
  line-height: 1.3em;
  margin: 0;

  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: typing .5s steps(30, end);

}
.no-animation{
  animation:  typing 0 steps(30, end)
}
.margin{
  margin-left: 20px;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.indice{color: #433674}
.colored{color: #e60efe}
.command{color: #9d0ffd}
.error{color: #f50f65}
.inherit, a{color: #22eae0}

a{
  text-decoration: inherit
}
a:hover{
  background: #22eae0;
  color: #211830
}
a:focus{
  outline:0;
} 

/* colors */
body, .color1{animation: 0.5s ease}
.color1{filter:hue-rotate(45deg)}
.color2{filter:hue-rotate(90deg)}
.color3{filter:hue-rotate(135deg)}
.color4{filter:hue-rotate(180deg)}
.color5{filter:hue-rotate(225deg)}
.color6{filter:hue-rotate(270deg)}
.color7{filter:hue-rotate(315deg)}
.color8{filter:invert(100%); background: #dee7cf} 

/* Style frame REAL 
***************************************************************************************
***************************************************************************************/
.container {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 10px);
  z-index: 20;
  display: none;
  opacity: 0;
}
.open{
  display: inherit;
  opacity: 1;
}

.resize-drag{
  background: #c0c0c0;
  border: 4px #000 outset;
  font-weight: bold;
  
  touch-action: none;
  position: absolute;
  height: 600px;
  width: 550px;
  top : 10vh;
  left : 10vw;
}
.top{
  height: 25px;
  line-height: 25px;
  color: #fff;
  background: #9d0ffd; /* Old browsers */
  background: -moz-linear-gradient(left, #9d0ffd 0%, #e60efe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #9d0ffd 0%,#e60efe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9d0ffd 0%,#e60efe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
}
.undrag{
  background: #c0c0c0;
  width: 100%;
  height: calc(100% - 25px);
  color: #000;
}

.linkTop{
  display: inline;
  color: #000;
  padding: 3px;
  line-height: 24px;
}
.linkTop:first-child{
  margin-left: 4px;
}
.prez{
  background: #fff;
  border: 3px #969696  inset;
  margin: 0 4px 4px;
  padding: 10px;
  width: calc(100% - 34px);
  height: calc(100% - 88px);
  overflow-y: scroll;
}
.bottom{
  display: -webkit-flex;
  display: flex;
  margin: 4px;
}
.bottom p{
  height: 20px;
  border: 3px #969696 inset;
  padding: 2px 4px;
}
.b1{
  -webkit-flex: initial;
  flex: initial;
  margin-right: 6px;
}
.b2{
  -webkit-flex: 1;
  flex: 1;
}
#close{
  float:right;
  margin: 2px 4px;
}
#close:hover{
  cursor: pointer;
}

.btn{
  background: #c0c0c0;
  padding: 2px 6px;
  color: #000;
  border: 3px #000 outset;
  transition: all 0.5s ease;
}
.btn:hover{
  background: #c0c0c0;
  border: 3px #000 inset
}

.prez-2{
  position: absolute;
  transform: translateY(calc(-100% - 4px));
  display: none;
  opacity: 0;
  height: calc(100% - 113px);
}
.prez-2 img{
  width: 100%;
  max-width: auto;
}
.prez-2 p{
  white-space: inherit;
  animation: 0s;
}
.prez-show{
  display: inherit;
  opacity: 1;
}